In [1]:
%load_ext jupyter_black

In [2]:
import eurostat

In [6]:
df_dataset = eurostat.get_toc_df()
df_dataset.head()

,title,code,type,last update of data,last table structure change,data start,data end
0,Employed persons by working time spent on task...,LFSO_22MANT03,dataset,2023-12-14T23:00:00+0100,2023-12-14T23:00:00+0100,2022,2022
1,"Active population by sex, age and educational ...",LFSQ_AGAED,dataset,2024-03-15T11:00:00+0100,2024-03-15T11:00:00+0100,1998-Q1,2023-Q4
2,"Employment by sex, age and economic activity (...",LFSQ_EGANA,dataset,2023-02-14T23:00:00+0100,2024-01-03T23:00:00+0100,1998-Q1,2008-Q4
3,"Full-time and part-time employment by sex, age...",LFSQ_EPGAIS,dataset,2024-03-15T11:00:00+0100,2024-03-15T11:00:00+0100,1998-Q1,2023-Q4
4,"Self-employment by sex, age and educational at...",LFSQ_ESGAED,dataset,2024-03-15T11:00:00+0100,2024-03-15T11:00:00+0100,1998-Q1,2023-Q4

In [14]:
dataset_code = "nrg_ind_urtd"

In [15]:
parameters = eurostat.get_pars(dataset_code)

In [17]:
for parameter in parameters:
    print(parameter)
    values = eurostat.get_par_values(dataset_code, parameter)
    print(values)

freq
['A']
siec
['TOTAL', 'RA000', 'R5200', 'R5250S', 'R5251S', 'R5252S', 'R5253S', 'R5254S', 'R5255S', 'R5256S', 'R5257S', 'R5258S', 'R5259S', 'R5260S', 'R5261S', 'R5262S', 'R5263S', 'R5264S', 'R5265S', 'R5266S', 'R5267S', 'R5268S', 'R5269S', 'R5270S', 'R5271S', 'R5272S', 'R5273S', 'R5274S', 'R5275S', 'R5276S', 'R5277S', 'R5278S', 'R5279S', 'R5300', 'R5300B', 'E7000', 'E7100', 'E7200', 'RHYD', 'RSYNF']
nrg_bal
['FC_TRA_E_RED', 'FC_TRA_ROAD_E_RED', 'FC_TRA_RAIL_E_RED', 'FC_TRA_OTH_E_RED', 'NRG_MNBRFT_E', 'GFC_TRA_E_NMULTI', 'GFC_TRA_E_MULTI', 'LIM_TT', 'BIOFCON_LIM_TRA', 'BIOF_FS_SHR', 'ST_MS_TRA', 'BIOG_G_SHR', 'BIOG_G_TRA', 'BIOG_G_ADJSHR']
unit
['KTOE', 'TJ_GCV', 'PC']
geo
['EU27_2020', 'EA20', 'BE', 'BG', 'CZ', 'DK', 'DE', 'EE', 'IE', 'EL', 'ES', 'FR', 'HR', 'IT', 'CY', 'LV', 'LT', 'LU', 'HU', 'MT', 'NL', 'AT', 'PL', 'PT', 'RO', 'SI', 'SK', 'FI', 'SE', 'IS', 'NO', 'UK', 'BA', 'ME', 'MD', 'MK', 'AL', 'RS', 'TR', 'XK', 'GE']

In [18]:
df = eurostat.get_data_df(dataset_code)
df.head()

,freq,siec,nrg_bal,unit,geo\TIME_PERIOD,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,A,E7000,NRG_MNBRFT_E,KTOE,AL,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A,E7000,NRG_MNBRFT_E,KTOE,AT,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A,E7000,NRG_MNBRFT_E,KTOE,BA,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,A,E7000,NRG_MNBRFT_E,KTOE,BE,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A,E7000,NRG_MNBRFT_E,KTOE,BG,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
df.to_csv(f"data/{dataset_code}.csv")